![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [126]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

# Begin coding here ...

In [127]:
df_csv = pd.read_csv("data/airbnb_price.csv")

In [128]:
df_csv.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [129]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [130]:
df_csv.shape

(25209, 3)

In [131]:
df_excel = pd.read_excel("data/airbnb_room_type.xlsx")

In [132]:
df_excel.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [133]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [134]:
df_excel.shape

(25209, 3)

In [135]:
df_tsv = pd.read_csv("data/airbnb_last_review.tsv", sep="\t")

In [136]:
df_tsv.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [137]:
df_tsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [138]:
df_tsv.shape

(25209, 3)

In [139]:
merged_df = pd.merge(df_csv, df_excel, on='listing_id', how='inner')
merged_df = pd.merge(merged_df, df_tsv, on='listing_id', how='inner')
merged_df.head()

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

In [140]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.5+ MB

In [141]:
merged_df.shape

(25209, 7)

In [142]:
merged_df["last_review"] = pd.to_datetime(merged_df["last_review"]).dt.date
merged_df.head()

   listing_id        price  ...    host_name last_review
0        2595  225 dollars  ...     Jennifer  2019-05-21
1        3831   89 dollars  ...  LisaRoxanne  2019-07-05
2        5099  200 dollars  ...        Chris  2019-06-22
3        5178   79 dollars  ...     Shunichi  2019-06-24
4        5238  150 dollars  ...          Ben  2019-06-09

[5 rows x 7 columns]

In [143]:
earliest_review = min(merged_df["last_review"])
print(earliest_review)
latest_review = max(merged_df["last_review"])
print(latest_review)

2019-01-01
2019-07-09

In [144]:
merged_df["room_type"].value_counts()

Entire home/apt    8458
Private room       7241
entire home/apt    2665
private room       2248
ENTIRE HOME/APT    2143
PRIVATE ROOM       1867
Shared room         380
shared room         110
SHARED ROOM          97
Name: room_type, dtype: int64

In [145]:
merged_df["room_type"] = merged_df["room_type"].str.title()
merged_df["room_type"].value_counts()

Entire Home/Apt    13266
Private Room       11356
Shared Room          587
Name: room_type, dtype: int64

In [146]:
private_rooms = merged_df["room_type"].value_counts().values[1]
print(private_rooms)

11356

In [147]:
merged_df["price"] = merged_df["price"].str.strip(" dollars")
merged_df["price"] = merged_df["price"].astype(int)
average_listing_price = round(merged_df["price"].mean(), 2)
print(average_listing_price)

141.78

In [148]:
data = [earliest_review, latest_review, private_rooms, average_listing_price]
columns = ["first_reviewed", "last_reviewed", "nb_private_rooms", "avg_price"]
review_dates = pd.DataFrame(data=[data], columns=columns)
review_dates.head()

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78